@import '../../CSS/global';

i {
    vertical-align: middle;
    cursor: pointer;
    //float: right;
    z-index: 99;
    color: black;
    @include unselectable();

    &:hover {
        box-shadow: none;
    }
}

.iconHover {
    &:hover {
        background-color: $buttonHover;
        box-shadow: none;
    }
}
.left {
    float: left;
}

.right {
    float: right;
}
