@import "../../CSS/global";

i {
    vertical-align: bottom;
    cursor: pointer;
    z-index: 99;
    color: #555555;
    &:hover {
        color: black;
    }
    @include unselectable();
}

.iconHover {
    &:hover {
        box-shadow: none;
        color: black;
    }
}
.left {
    float: left;
}

.right {
    float: right;
}
