@import "../CSS/global";

.top-bar {
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 42px;
}

li {
    flex: 2;
}

.account-name {
    font-size: 22px;
}

ul li a {
    text-decoration: none;
    display: block;
}

.top-bar-title {
    @extend .app-btn;
    cursor: default;

    &:hover {
        background-color: inherit;
    }
}

.item-icon {
    flex: 0.1;
}
