@import "../CSS/global";

ul {
  background-color: #2CBBBB;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  padding: 0.5em;
  flex: 2;
}

.app-title {
  font-size: 22px;
}

.item-app-title {
  flex: 0;
  background-color: #000000;
}


ul li a {
  text-decoration: none;
  display: block;
}

.right {
  float: right;
}

.app-btn:hover {
  background-color: inherit;
}
