@import "../CSS/global";

.top-bar {
  background-color: #000000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


li {
  padding: 0.5em;
  flex: 2;
}

.account-name {
  font-size: 22px;
}

ul li a {
  text-decoration: none;
  display: block;
}

.right {
  float: right;
}

.account-btn {
  @extend .app-btn;
  // override hover
  &:hover {
    background-color: inherit;
  }

}
