@import '../CSS/global';

.sidebarContainer {
    background-color: white;
    border-right: $borderSeparator;
}
.sidebar-item {
    cursor: pointer;
    max-width: 150px;
    @include ellipses();

    &:focus {
        outline: 0;
    }

    &:hover {
        background: $buttonHover;
    }
}

.sidebar-text {
    color: black;
    font-weight: 400;
}

.active-link {
    background-color: $buttonHover;

    & > .sidebar-text {
        font-weight: 600;
    }
}
