@import "states";

$linkColor: #000000;
$linkHoverColor: #ff0000;

.flex-container {
  @include displayBox();
  background-color: white;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
}

.column {
  @include direction(column);
  float: left;
}

.flex-item {
  margin: 0.5em;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

a.custom-link {
  @include unselectable();
  text-decoration: none;
  display: block;
  color: $linkColor;

  &:hover {
    color: $linkHoverColor;
  }
}

.app-btn {
  color: #000;
  box-shadow: none;
  margin: 0;
  padding: 7px 12px;
  transition: background-color .16s ease-out, box-shadow .16s ease-out;
  font-family: Metric, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  border-radius: 1px;
  border-width: 2px;
  border-color: inherit;
  background-image: none;
  line-height: 14px;
  height: 32px;
  text-shadow: none;
  letter-spacing: .5px;
  text-transform: none;

  &:hover {
    background: grey;
  }
}

.active-link {
  color: green !important;

  &:hover {
    color: $linkHoverColor !important;
  }
}

.app-text-font {
  @include unselectable();
  @include ellipses();

  color: #ffffff;
  font-size: 16px;
  position: relative;
  align-items: center;
  font-family: "MetricWeb-Semibold", Calibri, sans-serif;
  font-weight: bold;
  height: 22px;
  line-height: 22px;
}

i {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
  float: right;
  z-index: 99;
  @include unselectable();

  &:hover {
    background-color: rgba(0, 0, 0, .05);
    box-shadow: none;
  }
}

.app-icon {
  color: #ffffff;
}
