@import "states";

$buttonHover: lightgrey;
$linkColor: #000000;
$linkHoverColor: #ff0000;
$borderSeparator: 1px solid #f0f0f2;

.clickable {
    &:hover {
        background: $buttonHover;
    }
}
.flex-container {
    @include displayBox();
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
}

.right {
    float: right;
}

.column {
    @include direction(column);
    float: left;
}

.flex-item {
    margin: 0.5em;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.centerItem {
    text-align: center;
}

.app-btn {
    @include unselectable();
    @include ellipses();
    color: #000;
    box-shadow: none;
    cursor: pointer;
    margin: 0;
    padding: 7px 12px;
    font-family: Metric, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    border-radius: 1px;
    border-width: 2px;
    border-color: inherit;
    background-image: none;
    line-height: 14px;
    height: 32px;
    text-shadow: none;
    letter-spacing: 0.5px;
    text-transform: none;

    &:hover {
        @include prominentHighlight();
    }
    &:focus {
        outline: none;
    }
    &:disabled,
    &[disabled] {
        color: grey;
        cursor: default;
        &:hover {
            background: lightgrey;
        }
    }
}

.app-text-font {
    @include unselectable();
    @include ellipses();
    color: #000000;
    font-size: 16px;
    position: relative;
    align-items: center;
    font-family: "MetricWeb-Semibold", Calibri, sans-serif;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
}
.app-text-font-black {
    @extend .app-text-font;
    color: #000000;
}

.app-icon {
    color: #ffffff;
}

.dropdownBtn {
    &:hover {
        @include prominentHighlight();
    }
}
