@mixin unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin displayBox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

@mixin ellipses {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin direction($direction) {
    -webkit-flex-direction: $direction;
    flex-direction: $direction;
}



@mixin prominentHighlight {
    &::ng-deep* {
        color: black;
        font-weight: 600;
    }
}
