<div>
  <div class="row header">
    <div class="col">Domain</div>
    <div class="col">Username</div>
    <div class="col">Password</div>
  </div>
  <div *ngIf="userPasswordsList">
    <div class="row" *ngFor="let passwordField of userPasswordsList">
      <div class="col" (click)="changeText($event)" [innerHTML]="passwordField.domain"></div>
      <div class="col" (click)="changeText($event)" [innerHTML]="passwordField.username"></div>
      <div class="col" (click)="changeText($event)" [innerHTML]="passwordField.password"></div>
    </div>
  </div>
</div>
