header, .row {
  display: flex;
}

.row {
  &:hover {
    background-color:wheat;
  }
}

header {
  background-color: #2CBBBB;
  font-size: 18px;
  font-weight: 900;

}

header,
.col {
  flex: 1; /* distributes space on the line equally among items */
}
