$headerBG_Color: lightGreen;
$headerBG_Color_Hover: yellow;
$displayStyle: flex;
$cursor: pointer;

.header, .row {
  display: $displayStyle;
}

.row {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  &:hover {
    background-color: wheat;
  }
}

.row.chosen {
  background-color: lightblue;

  &:hover {
    //background-color: lightcyan;
  }
}

.header {
  background-color: $headerBG_Color;
  font-size: 18px;
  font-weight: 900;

  &:hover {
    background-color: $headerBG_Color_Hover;
  }
}

.passwordText {
  text-align: center;
}

.col {
  flex: 2; /* distributes space on the line equally among items */
  cursor: $cursor;
}

.util {
  flex: 1;
  display: inline-flex;
}
