$headerBG_Color: lightGreen;
$headerBG_Color_Hover: yellow;
$displayStyle: flex;
.header, .row {
  display: $displayStyle;
}

.row {
  &:hover {
    background-color: wheat;
  }
}

.header {
  background-color: $headerBG_Color;
  font-size: 18px;
  font-weight: 900;

  &:hover {
    background-color: $headerBG_Color_Hover;
  }
}

header,
.col {
  flex: 1; /* distributes space on the line equally among items */
}
