<div>
  <div class="row header">
    <div class="col">Domain</div>
    <div class="col">Username</div>
    <div class="col">Password</div>
    <div class="col util">
      <button [innerText]="'delete'" (click)="removePassword(i)"></button>
      <button [innerText]="'change'" (click)="changeText(i)"></button>
    </div>
  </div>
  <div *ngIf="userPasswordsList">
    <div class="row" *ngFor="let passwordField of userPasswordsList;  let i = index;" (click)="chosePassword(i)"
         [ngClass]="chosenIndex===i? 'chosen' :''">
      <div class="col" [innerHTML]="passwordField.domain"></div>
      <div class="col" [innerHTML]="passwordField.username"></div>
      <div class="col" [innerHTML]="passwordField.password"></div>
      <div class="col util">
      </div>
    </div>
  </div>
</div>
