<div class="custom-table" *ngIf="template">
  <div class="row header">
    <div class="col" *ngFor="let headerColumn of template.headers" [title]="headerColumn.text"
         [innerHTML]="headerColumn.text"></div>
    <div *ngIf="template.itemsUtils" class="col util">
      <app-search (searchTermChanged)="filterList($event)"></app-search>
    </div>
  </div>
  <div *ngFor="let itemsField of (template.filteredItemsList || template.itemsList); let i = index;">
    <div class="row" (click)="template.chosenIndex = i;"
         [ngClass]="template.chosenIndex===i? 'chosen' :''">
      <div *ngFor="let item of getKeys(itemsField);" class="col" [title]="itemsField[item]"
           [innerHTML]="itemsField[item]"></div>
      <div class="col util">
        <app-icon *ngFor="let itemUtil of template.itemsUtils" [icon]="itemUtil.Icon"
                  (click)="itemUtil.callback && itemUtil.callback(i)"></app-icon>

      </div>
    </div>
  </div>
  <ng-keyboard-shortcuts [shortcuts]="template.keyboardShortcuts"></ng-keyboard-shortcuts>
</div>
