@import '../../CSS/global';

$headerBG_Color: aqua;
$headerBG_Color_Hover: green;
$rowBG_Color: wheat;
$rowBG_Color_Hover: lightblue;
$displayStyle: flex;
$cursor: pointer;
$btnBGColor: lightgrey;

.customTable {
    min-height: 264px;
}
.row {
    display: $displayStyle;
    @include unselectable();
    &:hover {
        background-color: $rowBG_Color;
    }
    &.chosen {
        background-color: $rowBG_Color_Hover;
    }
}

.header {
    background-color: $headerBG_Color;
    font-size: 1rem;
    font-weight: 900;

    &:hover {
        background-color: $headerBG_Color;
    }
}

.passwordText {
    text-align: center;
}

.col {
    flex: 2; /* distributes space on the line equally among items */
    cursor: $cursor;
    @include ellipses();
}

.col.util {
    flex: 1;
    display: inline-flex;
    flex-direction: row-reverse;
    overflow: visible;
}

.highlightText {
    background: yellow;
}
.pagination {
    align-items: center;
    justify-content: center;
}
.pageIndexBtn[disabled] {
    min-width: 60px;
    max-width: 60px;
    color: green;
}

.paginationBtn {
    background: $btnBGColor;
    background: white;
    &[disabled]:hover {
        background: white;
    }
}

.colInputLabel {
    // override label margin style
    width: 100%;
    margin-bottom: 0;
}

.colInput {
    width: inherit;
    height: 24px;
    margin-left: -2px; // align with span
}
.inputContainer {
    width: 95%;
}
