<div class="right">
  <div *ngIf="!user" class="app-btn" (click)="navigateToLogin()">
    <span class="app-text" [attr.test-id]="testID.login" [innerHTML]="loginText"></span>
  </div>
  <div *ngIf="user">
    <div class="app-btn" (click)="toggleAccountInfo()">
      <span class="app-text" [attr.test-id]="testID.user" [innerHTML]="user.username"></span>
      <i class="material-icons" [attr.test-id]="testID.arrowIcon"[innerHTML]="accountInfoVisible? iconsText.collapse : iconsText.expand"></i>
    </div>
    <div class="accountTable" *ngIf="accountInfoVisible">
      <ul class="flex-container column" [attr.test-id]="testID.userInfo">
        <li class="flex-item">
          <div class="app-btn" (click)="signOut()" [attr.test-id]="testID.logout">
            <span class="app-text account-text" [innerHTML]="'Logout'"></span>
          </div>
      </ul>
    </div>
  </div>
</div>
