@import '../CSS/global';

.searchWrapper {
    width: 100%;
    display: inline-flex;
    margin-bottom: 2px;
}
input {
    padding: 0;
    width: 100%;
}
.iconContainer {
    &:hover {
        background: $buttonHover;
    }
}
.searchInput {
    min-width: 30px;
}
