@import '../CSS/global';

.searchContainer {
    display: inline-flex;
}

.iconContainer {
    &:hover {
        background: $buttonHover;
    }
}
.searchInput {
    min-width: 30px;
    width: 100%;
    height: 100%;
}
