@import "../CSS/global";

.form {
  overflow: auto;
  position: inherit;
  font-family: 'Open Sans Condensed', arial, sans, serif;
  width: 40%;
  min-width: 200px;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);

  .formInput {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
  }

  .formButton {
    -moz-box-shadow: inset 0 1px 0 0 #45D6D6;
    -webkit-box-shadow: inset 0 1px 0 0 #45D6D6;
    box-shadow: inset 0 1px 0 0 #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background: #34CACA;;
    }

    textarea {
      resize: none;
      overflow: hidden;
    }
  }
}

.app-text {
  color: #000000;
}

a.alternative-link {
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  color: #2CBBBB;
  &:hover {
    color: #0079ef;
  }
}
