<div class="login-form">
  <form>
    <input type="text" name="field1" placeholder="Full Name" [value]="username"
           (input)="username = $event.target.value"/>
    <input type="email" name="field2" placeholder="Email" [value]="email" (input)="email= $event.target.value"/>
    <input type="password" name="field3" placeholder="Password" [value]="password"
           (input)="password= $event.target.value"/>
    <input type="password" name="field4" placeholder="Confirm Password" [value]="confirmPassword"
           (input)="confirmPassword= $event.target.value"/>
    <br>
    <input type="button" value="Create new Account" (click)="register()"/>
  </form>
</div>
