<div class="form">
  <form>
    <div *ngFor="let input of template.inputs">
      <div *ngIf="input.type==='button'; then inputBtn else inputText">
      </div>
      <ng-template #inputBtn>
        <label>
          <input class="formButton" [value]="input.value" [type]="input.type"
                 [placeholder]="input.placeholder"
                 (click)="input.callback && input.callback($event)">
        </label>
      </ng-template>
      <ng-template #inputText>
        <div>
          <span class="app-text">
          {{input.field}}
            </span>
        </div>
        <div>
          <input class="formInput" [type]="input.type"
                 [placeholder]="input.placeholder"
                 (input)="input.callback && input.callback($event)">
        </div>
      </ng-template>
    </div>
    <br>
    <a *ngIf="template.alternativeRoute" class="app-text alternative-link"
       (click)="template.alternativeRoute.callback()"
       [innerHTML]="template.alternativeRoute.alternativeText"></a>
  </form>
</div>
