@import '../../CSS/global';

// override bootstrap hover and select icon
.dropdown-toggle {
    color: grey;
    &[aria-expanded='true']::after {
        color: white;
    }
    &:hover {
        color: lightgrey;
    }
}
.dropdown-item:hover {
    background: $buttonHover;
}

.hideMenu {
    &.dropdown-toggle::after {
        content: none;
    }
}
span {
    padding: 0.25rem 0.5rem;
}
// hide button
.invisibleBtn {
    background: none;
    border: none;
    outline: none;
    padding: 0 0;
}
